:fullscreen {
  background-color: var(--bg);
}

:fullscreen::backdrop {
  background-color: var(--blue);
}

#fullscreen {
  .btn {
    font-size: torem(14px);
    line-height: 1.5;
    padding: 0 torem(10px);
  }

  .info {
    padding-top: torem(10px);
  }
}
