/**
 * 5 Responsive Design Pitfalls and How to Avoid Them
 * http://www.sitepoint.com/5-responsive-design-pitfalls-and-how-to-avoid-them/
 */

:root {
  --black: #010101;
  --white: #fff;
  --green: #008000;
  --blue: #00f;
  --red: #f00;
  --orange: #de6628;
  --grey: #808080;
  --lightgrey: #d3d3d3;
  --bg: #f5f5f5;
  --pre: #eee;
  --text: #373737;
  --lightblue: #a5e2f3;
}

#app {
  color: var(--black);
  font-size: torem(14px);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.header {
  @include flexbox(column, nowrap, flex-start, flex-start);

  padding: torem(10px) 0;

  .title {
    font-size: torem(34px);
    margin: 0;

    &::after {
      content: '';
      font-size: torem(20px);
      font-weight: normal;
      vertical-align: middle;
    }

    &.sw--done::after {
      content: ' sw';
      color: var(--green);
    }

    &.sw--waiting::after {
      content: ' sw';
      color: var(--orange);
    }

    &.sw--error::after {
      content: ' sw';
      color: var(--red);
    }

    &.sw--no-support::after {
      content: ' No support';
    }
  }

  .describe {
    margin: 0;
  }
}

.section {
  padding: torem(20px) 0;

  .subject {
    margin: 0;
  }
}

// @link https://codersblock.com/blog/using-css-to-control-text-selection/
.code {
  padding: torem(20px) 0;
  overflow: hidden;

  .styles,
  .scripts {
    user-select: all;

    &:focus {
      animation: selectcode 100ms step-end forwards;
    }
  }
}

@keyframes selectcode {
  to {
    user-select: text;
  }
}

.nav {
  @include flexbox(column, nowrap, flex-start, flex-start);
}

// global class
.svg-defs {
  width: 0;
  height: 0;
  position: absolute;
}

.file-select {
  .file-select__input {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;

    + label {
      color: var(--blue);
      text-decoration: underline;
      cursor: pointer;
    }

    &:focus + label {
      outline: 1px dotted var(--black);
      outline: -webkit-focus-ring-color auto torem(5px);
    }
  }
}

.file-control {
  .file-control__drop {
    width: 90vw;
    height: 90vw;
    max-width: torem(280px);
    max-height: torem(280px);
    border: torem(5px) dashed var(--lightgrey);

    &.file-control__drop--hover {
      border-color: var(--green);
    }
  }
}

.break-all {
  word-break: break-all;
}
