header {
  padding: 10px 0;
}

main {
  .sections {
    padding: $section-padding 0;
  }
}

// global class
.bg--gray {
  background-color: #f5f5f5;
}


// drag and drop
#drag-and-drop-container {
  width: 790px;
  height: 520px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 0 auto;

  li {
    width: 250px;
    height: 160px;
    border: thin solid black;

    .items {
      display: block;
      width: 250px;
      height: 160px;
      font-size: 20px;
      line-height: 120px;
      cursor: move;
      user-select: none;
      -webkit-user-drag: element;
      padding: 20px 50px;

      &:hover:after {
        content: ' (drag)';
      }
    }

    a:link,
    a:visited,
    a:hover,
    a.active {
      color: blue;
      text-decoration: none;
    }
  }
}

// iamge diffing
.img-diff {
  position: relative;

  img:last-child {
    position: absolute;
    top: $section-padding;
    left: 0;

    filter: invert(100%) opacity(50%);
  }
}

// Angled Edges
#angled-edges {
  position: relative;
  height: 120px;
  background-color: #de6628;
  z-index: 1;

  &::before, &::after {
    content: '';
    display: block;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    background: inherit;
    z-index: -1;
  }

  &::before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0;
  }

  &::after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100% 0;
  }
}

// fade up from the bottom
.bricks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .elem {
    flex: 0 0 30%;
    height: 300px;
    background-color: blue;
    margin-bottom: 50px;

    opacity: 0;
    transition: all 700ms ease-out;
    transform: translate3d(0px, 50px, 0px);
    backface-visibility: hidden;
  }

  .in-view {
    opacity: 1;
    transform: translate3d(0px, 0, 0px);
  }
}
