ul,
ol {
  padding-left: torem(40px);
  margin: torem(10px) 0;
}

pre {
  font-size: fontSize(light);
  border: 1px solid color(border);
  background-color: color(grey-bg-pre);
  padding: torem(5px);
  margin-top: 0;
  margin-bottom: torem(14px);
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

// 大屏
@media only screen and (min-width: 600px) {
  html {
    font-size: 100px !important;
  }
}
