.container--scroll-indicator {
  --offsetTop: #{torem(95px)};

  background: linear-gradient(to right top, var(--lightblue) 50%, var(--bg) 50%);
  // 高度为100%减去::before高度，滚动条到底时bg正好在::before上方结束
  background-size: 100% calc(100% - 100vh + var(--offsetTop));
  background-repeat: no-repeat;

  &::before {
    content: '';
    position: fixed;
    top: var(--offsetTop);
    bottom: 0;
    width: 100%;
    background-color: var(--white);
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    // 尺寸见grid
    padding-left: 2.5%;
    padding-right: 2.5%;
    z-index: 666;
  }

  @media only screen and (min-width: 601px) {
    .header {
      padding-left: 7.5%;
      padding-right: 7.5%;
    }
  }

  @media only screen and (min-width: 993px) {
    .header {
      padding-left: 15%;
      padding-right: 15%;
    }
  }

  .main {
    position: relative;
    margin-top: var(--offsetTop);
  }

  #scroll-indicator {
    font-size: torem(16px);
  }
}
