:-webkit-full-screen {
  background-color: #f5f5f5;
}

:-moz-full-screen {
  background-color: #f5f5f5;
}

:fullscreen {
  background-color: #f5f5f5;
}

:-webkit-full-screen::-webkit-backdrop {
  background-color: blue;
}

:fullscreen::backdrop {
  background-color: blue;
}
