#css-shapes {
  img {
    float: left;
    width: 240px;
    height: 140px;
    shape-outside: circle(70px at 170px) border-box;
    -webkit-clip-path: inset(0 round 10px 70px 70px 10px / 10px 50% 50% 10px);
    clip-path: inset(0 round 10px 70px 70px 10px / 10px 50% 50% 10px);
    margin-top: 50px;
  }
}
