#angled-edges {
  position: relative;
  height: 120px;
  background-color: #de6628;
  z-index: 1;

  &::before, &::after {
    content: '';
    display: block;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    background: inherit;
    z-index: -1;
  }

  &::before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0;
  }

  &::after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100% 0;
  }
}
