{
  "root": true,
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "$": false,
    "$$": false,
    "QRCode": false
  },
  "rules": {
    "no-param-reassign": ["error", { "props": false }],
    "no-cond-assign": ["error", "except-parens"]
  },
  "extends": "airbnb-base"
}
