{
  "root": true,
  "env": {
    "browser": true,
    "worker": true,
    "serviceworker": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "$": false,
    "$$": false,
    "QRCode": false
  },
  "rules": {
    "no-param-reassign": ["error", { "props": false }],
    "no-cond-assign": ["error", "except-parens"],
    "no-restricted-globals": 0
  },
  "extends": "airbnb-base"
}
