{
  "root": true,
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "$": false,
    "$$": false
  },
  "rules": {
    "no-cond-assign": ["error", "except-parens"],
    "no-param-reassign": [
      "error", { "props": false }
    ],
    "no-plusplus": [
      "error", { "allowForLoopAfterthoughts": true }
    ]
  },
  "extends": "airbnb-base"
}
