<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <title>HTML5 Demos</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>

  {{{body}}}

</body>
</html>