.parallax {
  .banner {
    width: 100%;
    height: 320px;

    // parallax
    background-attachment: fixed;

    &.banner--one {
      background-image: url(../images/paisley.png);
    }
    &.banner--two {
      background-image: url(../images/weather.png);
    }
    &.banner--three {
      background-image: url(../images/swirl_pattern.png);
    }

    h1 {
      text-align: center;
      line-height: 320px;
    }

    // Zooming Background Images
    &.banner--intro {
      ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;

        li {
          flex: 0 0 auto;
          width: 150px;
          height: 200px;
          overflow: hidden;

          span {
            display: block;
            width: 100%;
            height: 100%;
            transition: transform .5s;

            &.first {
              background-image: url(../images/paisley.png);
            }
            &.second {
              background-image: url(../images/weather.png);
            }
            &.third {
              background-image: url(../images/swirl_pattern.png);
            }

            h2 {
              font-weight: bold;
              text-align: center;
              line-height: 200px;
              opacity: 0;
            }
          }

          &:hover {
            span {
              transform: scale(1.2);
              filter: brightness(0.5);

              h2 {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
