$base: #a5e2f3;

#clip-path {
  ul {
    width: 500px;
    height: 500px;
    position: relative;
    margin: 0 auto;

    li {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      -webkit-clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
      clip-path: url(#sector);

      a {
        display: block;
        width: 100%;
        height: 100%;

        .icon {
          position: absolute;
          right: 15%;
          top: 30%;
          transform: rotate(60deg);

          color: darken($base, 60%);
          font-size: 20px;
        }
      }

      &.one {
        background-color: $base;
        transform: rotate(0deg);
      }
      &.two {
        background-color: darken($base, 7%);
        transform: rotate(-60deg);
      }
      &.three {
        background-color: darken($base, 14%);
        transform: rotate(-120deg);
      }
      &.four {
        background-color: darken($base, 21%);
        transform: rotate(-180deg);
      }
      &.five {
        background-color: darken($base, 28%);
        transform: rotate(-240deg);
      }
      &.six {
        background-color: darken($base, 35%);
        transform: rotate(-300deg);
      }

      &:hover {
        background-color: gold;
      }
    }
  }
}
