.transform {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  .showpart {
    flex: 0 0 500px;
    height: 500px;
    border: 1px solid black;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 20px;

    #box-2d {
      width: 180px;
      height: 180px;
      background-color: rgba(142, 53, 87, 0.7);
    }

    // draw a 3d-box
    #box-3d {
      width: 100%;
      height: 100%;
      perspective: 1000px;
      perspective-origin: 150% 150%;

      .cube {
        width: 180px;
        height: 180px;
        position: relative;
        top: 32%;
        left: 32%;
        transform-style: preserve-3d;

        div {
          width: 180px;
          height: 180px;
          position: absolute;
          line-height: 180px;
          font-size: 20px;
          color: white;
          text-align: center;

          transform-origin: 50% 50%;
          backface-visibility: visible;
        }
        .front {
          background-color: rgba(142, 53, 87, 0.7);
          transform: translateZ(90px);
        }
        .back {
          background-color: rgba(51, 204, 204, 0.7);
          transform: rotateY(180deg) translateZ(90px);
        }
        .top {
          background-color: rgba(255, 204, 0, 0.7);
          transform: rotateX(90deg) translateZ(90px);
        }
        .bottom {
          background-color: rgba(0, 153, 51, 0.7);
          transform: rotateX(-90deg) translateZ(90px);
        }
        .left {
          background-color: rgba(221, 17, 68, 0.7);
          transform: rotateY(-90deg) translateZ(90px);
        }
        .right {
          background-color: rgba(255, 51, 0, 0.7);
          transform: rotateY(90deg) translateZ(90px);
        }
      }
    }
  }

  .controlpanel {
    flex: 0 1 600px;

    .controls {
      padding-top: 10px;

      ul {
        width: 100%;

        li {
          width: 100%;
          height: 30px;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;

          & > span {
            flex: 0 0 150px;
          }
        }
      }

      form[name=form-3d] ul li>span:nth-child(1) {
        flex: 0 0 220px;
      }
    }
  }
}
