.transform-wrapper {
  font-size: 14px;

  .showpart {
    width: 450px;
    height: 450px;
    float: left;
    border: thin solid black;
    user-select: none;

    #box-2d {
      display: none;
      width: 180px;
      height: 180px;
      background-color: rgba(142, 53, 87, 0.7);
    }

    // draw a 3d-box
    #box-3d {
      display: none;
      width: 100%;
      height: 100%;
      perspective: 1000;
      perspective-origin: 150% 150%;

      .cube {
        width: 180px;
        height: 180px;
        position: relative;
        top: 32%;
        left: 32%;
        transform-style: preserve-3d;

        div {
          width: 180px;
          height: 180px;
          position: absolute;
          line-height: 180px;
          font-size: 20px;
          color: white;
          text-align: center;

          transform-origin: 50% 50%;
          backface-visibility: visible;
        }
        .front {
          background-color: rgba(142, 53, 87, 0.7);
          transform: translateZ(90px);
        }
        .back {
          background-color: rgba(51, 204, 204, 1);
          transform: rotateY(180deg) translateZ(90px);
        }
        .top {
          background-color: rgba(255, 204, 0, 0.7);
          transform: rotateX(90deg) translateZ(90px);
        }
        .bottom {
          background-color: rgba(0, 153, 51, 0.7);
          transform: rotateX(-90deg) translateZ(90px);
        }
        .left {
          background-color: rgba(0, 153, 51, 0.7);
          transform: rotateY(-90deg) translateZ(90px);
        }
        .right {
          background-color: rgba(255, 51, 0, 0.7);
          transform: rotateY(90deg) translateZ(90px);
        }
      }
    }
  }

  .controlpanel {
    float: left;
    margin-left: 20px;

    .controls {
      display: none;
      padding-top: 10px;

      ul {
        display: table;

        li {
          display: table-row;
          height: 30px;

          &>span {
            display: table-cell;
            width: 150px;
            vertical-align: bottom;

            &:nth-child(1) {
              vertical-align: middle;
            }
          }
        }
      }

      form[name=form-3d] ul li>span:nth-child(1) {
        width: 220px;
      }
    }
  }
}
