#mask {
  position: relative;
  width: 570px;
  height: 260px;
  overflow: hidden;

  #mask__img {
    width: 450px;
    height: 100%;
    margin: 0 auto;

    img {
      width: 100%;
      height: auto;
      mask: url(#masking);
      -webkit-mask-image: -webkit-gradient(linear, left top, right top,
        from(rgba(0,0,0,0)),
        color-stop(0.2, rgba(0,0,0,1)),
        color-stop(0.8, rgba(0,0,0,1)),
        to(rgba(0,0,0,0)));
    }
  }

  #mask__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    img {
      width: 120%;
      height: 120%;
      -webkit-filter: blur(25px);
      filter: blur(25px);
      margin: -5%;
    }
  }
}
