.pie {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: green;
  background-image: linear-gradient(to right, transparent 50%, gray 0);

  &:before {
    content: '';
    display: block;
    height: 100%;
    background-color: inherit;
    transform-origin: 0 50%;
    margin-left: 50%;
  }
  &.pie-more:before {
    background-color: gray;
  }
  &.pie-animate:before {
    animation: spin 3s linear infinite, bg 6s step-end infinite;
  }

  &+p {
    width: 100px;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
  }
}

#percent-30:before {
  transform: rotate(108deg);
}

#percent-60:before {
  transform: rotate(36deg);
}

@keyframes spin {
  to {
    transform: rotate(180deg);
  }
}

@keyframes bg {
  50% {
    background: gray;
  }
}
