#drag-and-drop {
  @include flexbox(row, wrap, space-between, flex-start);

  align-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;

  .box {
    width: 32%;
    height: torem(150px);
    border: 1px solid color(black);
    margin-bottom: torem(15px);

    .item {
      @include flexbox(row, nowrap, center, center);

      width: 100%;
      height: 100%;
      color: color(blue);
      font-size: fontSize(bold);
      user-select: none;
      -webkit-user-drag: element;
      cursor: move;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
