.css-shapes {
  margin-bottom: 20px;

  .graphics {
    background-color: green;
    margin-bottom: 10px;
  }
  .graphics-triangle {
    margin-bottom: 10px;
  }

  #rectangle {
    width: 200px;
    height: 100px;
  }
  #circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  #oval {
    width: 200px;
    height: 100px;
    // border-radius: 100px / 50px;
  }

  // triangles
  #triangles {
    width: 0;
    height: 0;
    border-color: red green blue orange;
    border-style: solid;
    border-width: 50px;
  }

  #triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid green;
  }
  #triangle-down {
    width: 0;
    height: 0;
    border-top: 100px solid green;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
  }

  #triangle-topleft {
    width: 0;
    height: 0;
    border-top: 100px solid green;
    border-right: 100px solid transparent;
  }

  // polygon
  #trapezoid {
    width: 200px;
    height: 0;
    border-bottom: 100px solid green;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
  }

  #parallelogram {
    width: 150px;
    height: 100px;
    margin-left: 20px;
    transform: skew(20deg);
  }

  // stars
  #star-six {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid green;
    position: relative;
    margin-bottom: 40px;

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 100px solid green;
      position: absolute;
      top: 30px;
      left: -50px;
    }
  }

  #star-five {
    width: 0;
    height: 0;
    position: relative;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 70px solid green;
    transform: rotate(35deg);
    margin: 50px 0;

    &:before {
      content: '';
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 80px solid green;
      position: absolute;
      top: -45px;
      left: -65px;
      transform: rotate(-35deg);
    }
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-left: 100px solid transparent;
      border-right: 100px solid transparent;
      border-bottom: 70px solid green;
      position: absolute;
      top: 3px;
      left: -105px;
      transform: rotate(-70deg);
    }
  }

  // polygon
  #pentagon {
    width: 86px;
    position: relative;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: green transparent;

    &:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: -85px;
      left: -18px;
      border-width: 0 43px 35px;
      border-style: solid;
      border-color: transparent transparent green;
    }
  }

  #hexagon {
    width: 100px;
    height: 55px;
    background: green;
    position: relative;
    margin-bottom: 35px;

    &:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: -25px;
      left: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 25px solid green;
    }
    &:after {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      left: 0;
      bottom: -25px;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 25px solid green;
    }
  }

  #octagon {
    width: 100px;
    height: 100px;
    background: green;
    position: relative;

    &:before {
      content: '';
      width: 100px;
      height: 0;
      position: absolute;
      top: 0;
      left: 0;
      border-bottom: 29px solid green;
      border-left: 29px solid #fff;
      border-right: 29px solid #fff;
    }
    &:after {
      content: '';
      width: 100px;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      border-top: 29px solid green;
      border-left: 29px solid #fff;
      border-right: 29px solid #fff;
    }
  }

  // irregular shape
  #heart {
    width: 100px;
    height: 90px;
    position: relative;

    &:before, &:after {
      content: '';
      width: 50px;
      height: 80px;
      position: absolute;
      left: 50px;
      top: 0;
      background: green;
      border-radius: 50px 50px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
    }
    &:after {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }
  }

  #infinity {
    position: relative;
    width: 212px;
    height: 100px;

    &:before, &:after {
      content: '';
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0;
      left: 0;
      border: 20px solid green;
      border-radius: 50px 50px 0 50px;
      transform: rotate(-45deg);
    }
    &:after {
      left: auto;
      right: 0;
      border-radius: 50px 50px 50px 0;
      transform: rotate(45deg);
    }
  }

  #diamond {
    border-style: solid;
    border-color: transparent transparent green;
    border-width: 0 25px 25px;
    height: 0;
    width: 100px;
    position: relative;
    margin: 20px 0 75px 0;

    &:after {
      content: '';
      position: absolute;
      top: 25px;
      left: -25px;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: green transparent transparent;
      border-width: 70px 50px 0 50px;
    }
  }

  #egg {
    width: 126px;
    height: 180px;
    display:block;
    background-color: green;
    // border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  }

  #pacman {
    width: 0px;
    height: 0px;
    border: 60px solid green;
    border-right: 60px solid transparent;
    border-radius: 60px;
  }

  #talkbubble {
    width: 120px;
    height: 80px;
    background: green;
    position: relative;
    border-radius: 10px;

    &:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: 26px;
      right: 100%;
      border-top: 13px solid transparent;
      border-right: 26px solid green;
      border-bottom: 13px solid transparent;
    }
  }

  #burst-12 {
    width: 80px;
    height: 80px;
    position: relative;
    margin-bottom: 20px;

    &:before, &:after {
      content: '';
      width: 80px;
      height: 80px;
      position: absolute;
      top: 0;
      left: 0;
      background: green;
    }
    &:before {
      transform: rotate(30deg);
    }
    &:after {
      transform: rotate(60deg);
    }
  }

  #burst-8 {
    width: 80px;
    height: 80px;
    background: green;
    position: relative;
    text-align: center;
    transform: rotate(20deg);

    &:before {
      content: '';
      width: 80px;
      height: 80px;
      position: absolute;
      top: 0;
      left: 0;
      background: green;
      transform: rotate(135deg);
    }
  }

  #yin-yang {
    width: 100px;
    height: 100px;
    background: #fff;
    border-color: green;
    border-style: solid;
    border-width: 2px 2px 50px;
    border-radius: 100%;
    position: relative;

    &:before {
      content: '';
      width: 48px;
      height: 48px;
      position: absolute;
      top: 50%;
      left: 0;
      background: #fff;
      border: 18px solid green;
      border-radius: 100%;
    }
    &:after {
      content: '';
      width: 48px;
      height: 48px;
      position: absolute;
      top: 50%;
      left: 50%;
      background: green;
      border: 18px solid #fff;
      border-radius:100%;
    }
  }

  #cone {
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-top: 100px solid green;
    border-radius: 50%;
  }

  #space-invader{

    box-shadow:
      0 0 0 1em green,
      0 1em 0 1em green,
      -2.5em 1.5em 0 .5em green,
      2.5em 1.5em 0 .5em green,
      -3em -3em 0 0 green,
      3em -3em 0 0 green,
      -2em -2em 0 0 green,
      2em -2em 0 0 green,
      -3em -1em 0 0 green,
      -2em -1em 0 0 green,
      2em -1em 0 0 green,
      3em -1em 0 0 green,
      -4em 0 0 0 green,
      -3em 0 0 0 green,
      3em 0 0 0 green,
      4em 0 0 0 green,
      -5em 1em 0 0 green,
      -4em 1em 0 0 green,
      4em 1em 0 0 green,
      5em 1em 0 0 green,
      -5em 2em 0 0 green,
      5em 2em 0 0 green,
      -5em 3em 0 0 green,
      -3em 3em 0 0 green,
      3em 3em 0 0 green,
      5em 3em 0 0 green,
      -2em 4em 0 0 green,
      -1em 4em 0 0 green,
      1em 4em 0 0 green,
      2em 4em 0 0 green;

    background: green;
    width: 1em;
    height: 1em;
    overflow: hidden;

    margin: 50px 0 70px 65px;
  }
}
