.waapi {
  #mover {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blue;
    motion-path: path("M10,10 H310 V210 H10 L10,10");
    motion-offset: 0;
    motion-rotation: auto;
  }

  svg {
    width: 320px;
    height: 220px;
  }
}
